[Unit]
Description=Alfons
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/alfons/alfons
Restart=always

[Install]
WantedBy=multi-user.target

